@font-face {
    font-family: Tricky;
    src: url(../../Tricky\ Jimmy.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../../montserrat.ttf);
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: url(../img/RaIL.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    z-index: 99;
}

.navbar li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar li a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

.contact-btn {
    padding: 0.5rem 2rem;
    background: #030C16;
    color: #15F5FF;
    border: 1.5px solid #15F5FF;
    border-radius: 121px;
}

.navbar li a {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;

}

.navbar li a:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

section {
    padding: 50px 0;
}

.sec-head {
    font-family: Tricky;
    font-size: 90px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;

}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* Hero section */

.top-head {
    font-family: Tricky;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    /* text-align: center; */

}

.top-desc {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.bear-head {
    font-family: Tricky;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    color: #fff;
}

.bear-desc {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 255, 255, 1)
}

.mark-btn {
    border-radius: 10px;
    width: 100%;
    font-size: 25px !important;
    color: #fff;
    font-weight: 500;
    text-align: left;
}

.hero-section {
    height: 100vh;
    padding: 150px 0;
}

.hero-main {
    width: 80%;
    backdrop-filter: blur(4.5px);
    border-radius: 25px;
    background: rgba(96, 1, 82, 0.8);
    padding: 20px;
}

.card-head {
    font-family: 'Tricky';
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 54px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
}

.cardd {
    position: relative;
    width: 90%;
    height: 100%;
    padding: 1.5em 1.5em 0 1.5em;
    margin: 2em auto;
    color: #000;
    background: #fff;
    display: flex;
    border-radius: 20px;
}

.cardd:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-width: 0 26px 26px 0;
    border-style: solid;
    border-color: #fff purple;
}

.cardd-heading {
    font-family: Tricky;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #4B004E;

}

.cardd-desc {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
}

/* playnow*/
.playnow {}

.playnowHeading {
    font-family: Tricky;
    font-size: 50px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;

}

.playnowContent {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: 80%;

}




/* Roadmap */

.roadmap {
    padding: 0;
}

.road-head {
    margin-top: 50px;
    color: rgba(96, 1, 82, 0.8) !important;
}

.roadmap-item {
    padding: 1rem 0;
}

.roadmap-item-number {
    height: 60px;
    color: #fff;
    width: 60px;
    background: #FEC700;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 800;
    font-family: Tricky;
}

.roadmap-item>ul {
    list-style-type: square;
}

.roadmap-item>ul li {
    font-size: 18px;
    font-family: Montserrat;
}

.roadmap-item-heading {
    font-size: 25px;
    margin: 10px 0;
    color: #FEC700;
    font-family: Tricky;
}

/* tokenomics*/


.toke-item {
    margin-top: 50px;
}

.totalSupply {
    font-family: Tricky;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #FEC700;
}

.tokenAmount {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.wavey-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
}

html, body, section.horizontal {
    overflow-x: hidden !important;
  }
  
  .principles{
      padding: 60px 20px 120px;
  }
  
  .principles__container{
      margin: 0 auto;
      width: 100%;
      position: relative;
  }
  .principles__title{
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 42px;
      line-height: 54px;
      color: #1C2F6B;
      margin-bottom: 32px;
  }
  
  .principles__counter{
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #30C5FF;
  }
  
  .principles__list{
    display: flex;
  }
  
  .principles__item{
    background-color: #F5F9FF;
    min-width: 370px;
    padding: 32px;
    margin-left: 30px;
    transition: .5s all ease;
    cursor: pointer;
    height: 290px;
    box-sizing: border-box;
  }
  
  .principles__item:first-of-type{
    margin-left: 0;
  }
  
  .principles__item:after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #1C2F6B;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s;
    z-index: -1;
  }
  
  .principles__item.active:after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
  
  .principles__item:hover{
    background-color: #1C2F6B;
  }
  .principles__item:hover .principles__description,
  .principles__item.active .principles__description{
    color: #fff;
  }
  .principles__number{
    color: #30C5FF;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
  }
  .principles__description{
    color: #1C2F6B;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    transition: .5s all ease;
  }
  

@media only screen and (max-width: 667px) {
    .boy-img {
        margin-top: -70px;
    }

    .top-head {
        font-size: 25px;
    }

    .top-desc {
        font-size: 18px;
    }

    .mark-btn {
        font-size: 18px !important;
    }

    .cardd {
        width: 100% !important;
    }

    .card-head {
        font-size: 30px;
        line-height: 33px;
    }

    .cardd-heading {
        font-size: 25px;
    }

    .cardd-desc {
        font-size: 15px !important;
    }

    .nav-item {
        margin: 10px 0 10px -10px;
    }

    .sec-head {
        font-size: 40px;
        text-align: center;
    }

    .playnowContent {
        width: 100%;
        font-size: 15px;
    }

    .totalSupply {
        font-size: 25px;
    }

    .tokenAmount {
        font-size: 25px;
    }

    .hero-section {
        height: unset
    }

    .hero-main {
        width: 100%;
    }

    .img-sec {
        display: none !important;
    }

    .wavey-img {
        height: 100%;
    }

    .roadmap {
        position: relative;
    }

    .roadmap-img {
        display: none;
    }
}